Dockerfile
docker-compose.yaml
*.template
test/
*.tgz
*.dockerfile
*.md
*.crt
.gitignore
npm-debug.log
.npmrc
.env
node_modules
.node_modules
built/*
~*.docx
\#*\#
.\#*
*.swp
build.json
*.actual
*.config
coverage/
internal/
**/.DS_Store
.settings
**/.vs
.idea
yarn.lock
yarn-error.log
.parallelperf.*
.failed-tests
tests
.vscode
.git
helm*/**
